<!-- <div class="pull-left">
  <h4 class="list-group-item-heading">{{ train.number }}</h4>
  <p class="list-group-item-text">{{ train.name }}</p>
</div> -->




<!-- <table class="table table-sm table-bordered table-striped">
  <div class="row">
    <div class="col-xs-12">
      <tr>
        <td>{{ train.number }}</td>
      </tr>
    </div>
  </div>
</table> -->

<!-- <td>{{ train.number }}</td>
<td>{{ train.name }}</td>
<td>{{ train.source }}</td>
<td>{{ train.destination }}</td>
<td>{{ train.fare }}</td> -->

<!-- <table class="table table-sm  table-striped">

  <div class="row">
    <div class="col-xs-12">
      <td>{{ train.number }}</td>
      <td>{{ train.number }}</td>
      <td>{{ train.name }}</td>
      <td>{{ train.source }}</td>
      <td>{{ train.destination }}</td>
      <td>{{ train.fare }}</td>
  </div>
  </div>
</table> -->

<table class="table table-sm table-striped">
  <tr>
    <td>{{ train.number }}</td>
    <td>{{ train.number }}</td>
    <td>{{ train.name }}</td>
    <td>{{ train.source }}</td>
    <td>{{ train.destination }}</td>
    <td>{{ train.fare }}</td>
    <td>
      <button class="btn btn-primary" type="button" routerLink="/edit">Edit</button>
      <button class="btn btn-danger" type="button">Delete</button>
    </td>
  </tr>
</table>

<!-- <div class="row">
  <div class="col-xs-12">
    <td>{{ train.number }}</td>
    <td>{{ train.number }}</td>
    <td>{{ train.name }}</td>
    <td>{{ train.source }}</td>
    <td>{{ train.destination }}</td>
    <td>{{ train.fare }}</td>  </div>
</div> -->
